<div>XXXX-1年の振り返り</div>
<div>
  <input type="text"></input>
</div>
<div>XXXX年の目標</div>
<div>
  <input type="text"></input>
</div>
<div>振り返り</div>
<div>
  <input type="text"></input>
</div>
<div>先週の振り返り</div>
<div>
  <input type="text"></input>
</div>
<div>週の目標(xxxx/xx/xx~xxxx/xx/xx)</div>
<div>
  <input type="text"></input>
</div>
<div>振り返り</div>
<div>
  <input type="text"></input>
</div>
<div>日毎</div>
